# Configuração de Integração Meta / Facebook
META_ACCESS_TOKEN=EAAUo98TBYE8BRYfOhZAkrZB3CEd34JVWNCrosfxgqT1H7sUMT8cxAtlWP4p9gVju5jtCcFwtVHZC0QpU1OH10yn5ncfSTgdxF4fVI4WipvzcCK5VRGCcTa4fInRCmTqLD80dY3fRyUtBEYZCCNy4Y0wjir9169Nw1SPDMZBn8U6mq2JsuPsOfiym0r990HZAfZAKAZDZD

# Configuração do Supabase
SUPABASE_TOKEN=sbp_89758616ff661f2533b8fa14038094ce1c4bc293
